:host {
  box-shadow: 0 -4px 30px rgba(0,0,0,.5);
  flex: 0 0 auto;
  position: relative;
}
header {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: .25rem;
}
.currentCount {
  font-size: 3em;
}
.totalCount {
  color: #999;
}
.title {
  color: #444;
  flex: 1 1 auto;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: .3875rem 0;
}
.right, .left {
  flex: 0 0 10rem;
}
.right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.version {
  font-size: .75em;
  color: #999;
}

.icon--sort {
  user-select: none;
}
.icon--sort__desc .icon--sort__up {
  fill: #333;
}
.icon--sort__asc .icon--sort__down {
  fill: #333;
}

.icon--plus {
  fill: #fff;
  width: .5em;
}

.btn-add {
  align-items: center;
  background-color: #69c773;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px #69c773, 2px 3px 10px rgba(0,0,0,.3), -2px 3px 10px rgba(0,0,0,.3);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 3em;
  font-weight: 700;
  height: 1.1em;
  justify-content: center;
  left: 50%;
  padding: 0;
  position: absolute;
  transition: all .3s ease-out;
  transform: translate(-50%,75%);
  user-select: none;
  width: 1.1em;
}
.btn-add:hover {
  background-color: #4aa754;
}

.btn-add:disabled {
  background-color: #999;
  box-shadow: 0px 0px 0px 2px #999, 2px 3px 10px rgba(0,0,0,.3), -2px 3px 10px rgba(0,0,0,.3);
  cursor: none;
  opacity: .5;
  pointer-events: none;
}
