:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-bookmark-header {
  height: 80px;
}
app-bookmark-header.dev-mode {
  background-color: #ffff6e;
}

app-bookmark-list {
  padding-top: 1.7rem;
}
