<app-bookmark-header
  [bookmarks]="bookmarks"
  [currentUrlExists]="currentUrlExists"
  [sorting]="sorting$ | async"
  [version]="version"
  [countBookmarks]="countBookmarks"
  (addBookmark)="addBookmark()"
  (sortEvent)="setSorting()"
  [class.dev-mode]="devMode">
</app-bookmark-header>

<app-bookmark-list
  [bookmarks]="bookmarks"
  [countBookmarks]="countBookmarks"
  (clearFilter)="applyFilter('')"
  (selectEvent)="selectBookmark($event)">
</app-bookmark-list>

<app-bookmark-footer
  [bookmarks]="bookmarks"
  [filter]="filter | async"
  (filterEvent)="applyFilter($event)"
  (randomBookmarkEvent)="randomBookmark()">
</app-bookmark-footer>
