.bookmark__link {
  align-items: center;
  border-bottom: 2px solid #ddd;
  color: #666;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  text-decoration: none;

  &:hover {
    background-color: #f5f5f5;
  }
}
.bookmark__favicon {
  height: 1rem;
  margin-right: 1rem;
  vertical-align: bottom;
  width: 1rem;
}
.bookmark__text {
  overflow: hidden;
}
.bookmark__title, .bookmark__url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bookmark__title {
  margin-bottom: .3rem;
}
.bookmark__url {
  color: #999;
  font-size: .8em;
}
