<ul *ngIf="bookmarks?.length; else noBookmarks">
  <li *ngFor="let bookmark of bookmarks; trackBy:bookmark?.id" (pointerup)="selectEvent.emit(bookmark)">
    <img [appLazyImg]="bookmark | favicon" alt="Favicon for {{bookmark.url}}" class="favicon" />
    <div class="text">
      <div class="title">{{ bookmark.title }}</div>
      <div class="url">{{ bookmark.url }}</div>
    </div>
  </li>
</ul>

<ng-template #noBookmarks>
  <div *ngIf="!countBookmarks" class="no-bookmarks">No bookmarks present</div>
  <div *ngIf="countBookmarks > 0" class="no-bookmarks">No bookmarks found</div>
</ng-template>
