:host {
  display: block;
  flex: 2;
  overflow: auto;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: .5rem 0;
}

li:hover {
  background-color: rgba(0, 0, 0, .125);
}

img {
  margin-right: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  text-align: center;
}

.no-bookmarks {
  color: rgba(0, 0, 0, .5);
  font-size: 1.5em;
  text-align: center;
  margin-top: 4rem;
}
