:host {
  display: block;
  flex: 2;
  overflow-y: auto;
  overflow-x: hidden;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: .5rem;
  position: relative;
}

li:hover, li:hover .date {
  background-color: #f2f2f2;
}
li:hover .date {
  display: inline;
}

.link {
  align-items: center;
  border-bottom: 2px solid #ddd;
  color: #666;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  text-decoration: none;
}

.favicon {
  flex: 0 0 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: bottom;
  width: 2rem;
}
.text {
  overflow: hidden;
}
.title, .url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title {
  margin-bottom: .3rem;
}
.url {
  color: #999;
  font-size: .8em;
}
.date {
  background: #fff;
  bottom: 0;
  color: #666;
  display: none;
  font-size: .8em;
  padding: 0.5rem;
  position: absolute;
  right: 0;
}

.no-bookmarks {
  color: rgba(0, 0, 0, .5);
  font-size: 1.5em;
  text-align: center;
  margin-top: 4rem;
}

.btn {
  background-color: #efefef;
  border: 1px solid transparent;
  color: var(--text-color-invert);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  padding: calc(.5rem - 1px) calc(1rem - 1px);
  transition: all .1s ease-in;
}
.btn:hover {
  background-color: #dfdfdf;
}
