/* Default stylesheet. Taken from https://gist.github.com/elgervb/00359968425a6eecdd1d1c80d87d3886 */
html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea {
  font-family: Open Sans, sans-serif;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}
